[submodule "obsidian-linkednotes"]
	path = obsidian-linkednotes
	url = https://github.com/rphl-a/obsidian-linkednotes
[submodule "posts"]
	path = posts
	url = https://github.com/rphl-a/obsidian-linkednotes
